@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.min-h-18 {
  min-height: 18rem;
}

.pokemon-data-container {
  max-height: 16rem;
  min-height: 16rem;
}

.transition {
  transition: all .1s ease-in;
}

.pokedex-card:hover {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.save-btn {
  background-image: linear-gradient(to left, #209cff 0%, #68e0cf 100%);
}

.reset-btn {
  background-image: linear-gradient(to right, #f5f7fa 0%, #c3cfe2 100%);
}
